body{
     /* background-color: rgb(159, 137, 154);  */
    background-image: url('https://3000-retori8-proyecttodolist-0is7r6lxw4z.ws-us89.gitpod.io/textura.jpg'); 
    background-size: cover;
}
#container{
    margin: auto;
    margin-top: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(150, 124, 11);
}
#buttonDelete{
    display: none;
}
#task:hover #buttonDelete{
    display:inline-flex
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
