@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fira+Code:wght@600&family=Roboto+Mono:wght@500&display=swap');


body{
    background-color: rgb(184, 156, 173);
    /* background-image: url('https://retori8-proyecttodolist-z1j0bjz7x3x.ws-us89.gitpod.io/textura.jpg'); 
    background-size: cover; */
}
/* #title{
    font-family: 'Abril Fatface', cursive;
    font-size: large;
} */
#container{
    margin: auto;
    margin-top: 10%;
    font-family: 'Fira Code';
    font-size: medium;
    background-color: rgb(150, 124, 11);
    border: none;
}
#buttonDelete{
    display: none;
}
#task:hover #buttonDelete{
    display:inline-flex
}
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
